{% if backgroundColor is not defined %}
  {%  set backgroundColor = 'lightblue' %}
{% endif %}

<div class="well" style="background-color: {{ backgroundColor }};">
  <h3>Save some Krill!</h3>
  <p>Sale in summer suits all this weekend! <em>{{ pageData.title }}</em></p>
</div>
