{% extends "layout.twig" %}

{# block title %}Contact{% endblock #}

{% block content %}
  {{ include('_banner.twig') }}

  <h1>{{ attribute(pageData, 'title') }}</h1>
  <h2>Contact form goes here</h2>
{% endblock content %}