<pre>
 {{ dump() }}
</pre>

<div class="hero-unit">
  <h1>{{ pageTitle }}</h1>
  <div class="sale-ends-at>">
    Sale Ends: {{ saleEndsAt|date('D M jS ga') }}
  </div>
</div>

{# Print products #}
<div class="row">
  {% for product in products %}
    <div class="span4">
      <h2>{{ product|title }}</h2>
      <div class="price">
        {% set price = (random(100))|number_format(2, '.','') %}
        {{ price }}
        {% if price < 5 %}
          <div>Wow, this is some cheap swag!</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% if products|length == 0 %}
    <div class="alert alert-error span12">
      Oh now! We're all out of super-awesome penguin clothes!
    </div>
  {% endif %}
</div>

<br>
<div>
  &copy; {{ 'now'|date('Y') }}
</div>