{# common header, navigation and footer for all pages #}
{% extends 'layout.twig' %}

{# This is a comment
<pre>
  {{ dump() }}
  {{ dump(products) }}
</pre>
#}

{# example of importing a macro #}
{# The below doesn't see to work #}
{# from "macros.twig" import printProducts as myMacros #}
{% import "macros.twig" as myMacros %}

{# homepage title #}
{% block title %}Start looking fly!{% endblock title %}

{# homepage content #}
{% block content %}

  <div class="hero-unit">
    <h1>{{ pageData['title'] }}</h1>
    <p> {{ pageData.summary|raw }}</p>

    {% if pageData.hasSale %}
    <div class="sale-ends-at>">
      Sale Ends: {{ saleEndsAt|date('D M jS ga') }}
    </div>
    {% endif %}
  </div>

  {# This is how you include one template into another #}
  {{ include('_banner.twig', {'backgroundColor' : 'violet'}) }}

  {# set products = [] #}

  {# Print products #}

  <div class="row">
    {{ myMacros.printProducts(featuredProducts, "Oh no! We're all out of featured super-awesome penguin clothes!") }}
  </div>

  <div class="row">
    {{ myMacros.printProducts(products, "Oh no! We're all out of super-awesome penguin clothes!") }}
  </div>

  {% if products|length != 0 and products|length is even %}
    <div class="row">
      <div class="alert alert-info span12">
        There is an even number of products! OMG!
      </div>
    </div>
  {% endif %}

{% endblock content %}

{# homepage footer #}
{% block footer %}
  <div>
    &copy;  Penguin Pants Plus! {{ 'now'|date('Y') }}
  </div>
{% endblock footer %}